:host {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    display: block;
}

#wrapper-header {
    background: var(--color-accent-base);
    height: 10vh;
}

#content {
    height: 90vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

#form {
    /* height: 100%; */
    height: 100%;
    overflow: hidden;
}

#input-text {   
    height: 30%;
}

#image-list {
    overflow-y: auto;
    max-height: 70%;
}

.upload-img-list-item {
    width: 104px;
    height: 104px;
    overflow: hidden;
}

.upload-img-list-item .img-preview {
    position: relative;
}

.img-preview-mask {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in;
    transition-property: opacity;
    user-select: none; /* 禁止选中文本 */
}

/* 防止画面还没显示出来, 操作就成功了 */
.img-preview-mask>* {
    opacity: 0;
    visibility: hidden;
    transition-delay: .3s;
}

.img-preview:hover .img-preview-mask,
.img-preview:hover .img-preview-mask>*  {
    visibility: visible;
    opacity: 1;
}

.img-preview-mask>svg:hover path {
    fill: var(--color-accent-base);
}
