:host {
    display: block;
    width: 100%;
}

#loading-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-item {
    margin-bottom: .4rem;
}
