:host {
    /* height: 100%;
    display: block;
    overflow-y: auto;
    background: none; */
}

#content {
    height: 100%;
    background: none;
}

#imageBox {
    max-width: 100vw;
    max-height: 85vh;
    overflow: auto;
    background: none;
}

#imageBox>img {
    max-width: 100%;
}