<div class="wrapper">
    <form class="form"
          (ngSubmit)="onSubmit()"
          [formGroup]="userInfoProfile">
        <div class="form-item">
            <label>用户名:</label>
            <input formControlName="username" placeholder="用户名"
                   type="text">
        </div>
        <div class="form-item">
            <label>密码:</label>
            <input formControlName="password" placeholder="密码"
                   type="password">
        </div>
        <div class="mt-3 row px-3">
            <input type="submit"
                   class="col mr-2 btn"
                   value="登录">
            <button [routerLink]="['/auth/register']"
                    routerLinkActive="router-link-active"
                    class="btn btn-secondary col ml-2">去注册</button>
        </div>
    </form>
</div>