#first {
    height: 20vh;
    background-color: hotpink;
}

#second {
    height: 25vh;
}

#close-icon {
    top: .3rem;
    right: .5rem;
    width: 16px;
    height: 16px;
}

#log-out {
    bottom: .2rem;
    right: 3rem;
}

#log-out button {
    background: transparent;
    border: none;
    color: white;
}

#profile-image-wrapper {
    left: 48px;
}

#profile-image {
    transform: translateY(50%);
}

#birth {
    margin-left: 40px;
}
