@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* 引入基本样式 */
@import "~ng-zorro-antd/spin/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/alert/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/message/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/upload/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/avatar/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/carousel/style/index.min.css"; /* 引入组件样式 */
@import "~ng-zorro-antd/date-picker/style/index.min.css"; /* 引入组件样式 */

/* 覆盖bootstrap中的这个属性, 在Antd的message组件中造成有一些不好的效果 */
svg {
    vertical-align: initial;
}

:root{
    --color-highlight: #B45499FF;
    --color-accent-base: #F472D0FF;
    --color-accent: #F472D0CC;
    --color-accent2: #F472D099;
    --color-accent3: #F472D066;
    --color-accent4: #F472D028;

    --color-black: #000000FF;
    --color-white: #FFFFFFFF;
    --color-gray1: #333333FF;
    --color-gray2: #7F7F7FFF;
    --color-gray3: #9D9D9DFF;
    --color-gray4: #A59F93FF;
    --color-gray5: #B9B9B9FF;
    --color-gray6: #CCCCCCFF;
    --color-gray7: #D8D8D9FF;
    --color-gray8: #E0E0E0FF;
    --color-gray9: #C9C9C95E;
    --color-gray10: #F7F7F7FF;

    --color-black-mask: rgba(0,0,0,0.7);
}

.text-accent {
    color: var(--color-accent);
}

.text-large {
    font-size: 1.3rem;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

.bg-mask {
    background: var(--color-black-mask);
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.6;
    user-select: none;
    -webkit-user-select: none;
}

textarea,
input[type=text], 
input[type='date'], 
input[type=password] {
    border: 1px solid var(--color-gray3);
    /* height: 3rem; */
    width: auto;
    padding: .8rem .6rem;
    width: 100%;
    border-radius: 4px;
    outline: none;
}

textarea {
    
}

textarea:hover,
input[type=text]:hover, 
input[type=date]:hover, 
.ant-calendar-picker-input:hover,
/* .ant-calendar-picker:hover, */
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
input[type=password]:hover {
    border-color: var(--color-accent-base);
    box-shadow: 0 0 1px 1px var(--color-accent-base);
}

textarea:focus,
input[type=text]:focus, 
input[type=date]:focus, 
.ant-calendar-picker-input:focus,
input[type=password]:focus {
    border-color: var(--color-accent-base);
    box-shadow: 0 0 1px 1px var(--color-accent-base);
}

.app-button,
.btn-upload,
input[type=submit] {
    border: none;
    padding: 8px 24px;
    background: var(--color-accent);
    color: var(--color-white);
    outline: none;
    width: 100%;
}

.btn-upload {
    position: relative;
}

.btn-upload input[type=file] {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.app-button:hover,
input[type=submit]:hover {
    background: var(--color-gray7);
    color: var(--color-black);
}

.app-button:focus,
input[type=submit]:focus {
    background: var(--color-black);
    color: var(--color-white);
}

input[type=submit]:disabled {
    opacity: 0.6;
    background: var(--color-accent);
    color: var(--color-white);
}

.form {
    padding: 4px 8px;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 100%;
}

.form .form-item {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: stretch;
}

.form .form-actions>* {
    width: auto;
    display: inline-block;
}

button:focus,
.btn:focus {
    box-shadow: none;
}

.btn-icon {
    /* color: var(--color-white); */
    transition: .2s ease-in-out color;
}
.btn-icon:hover {
    color: var(--color-accent) !important;
}

.profile-img {
    width: 100%;
    display: inline-block;
    border-radius: 50%;
}

.page-header {
    background: var(--color-accent-base);
}

.page-header nz-page-header-title {
    height: 42px;
}

.img-clipable {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    height: 10vh;
}

.user-select-none {
    user-select: none;
}

.preview-image-modal>.ant-modal-content {
    background: none;
    box-shadow: none;
}

.ant-page-header-heading {
    display: flex;
    align-items: center;
}

.ant-calendar-header a:hover {
    color: var(--color-accent);
  }

.ant-calendar-date:hover {
background: var(--color-accent4);
cursor: pointer;
}
.ant-calendar-date:active {
color: #fff;
background: var(--color-accent) !important;
}
.ant-calendar-today .ant-calendar-date {
color: var(--color-accent);
font-weight: bold;
border-color: var(--color-accent);
}

.ant-calendar-selected-day .ant-calendar-date {
background: var(--color-accent4);
}
