:host {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
}

.btn-affix {
    min-width: 64px;
    min-height: 64px;
    background: var(--color-accent-base);
    border-radius: 50%;
    position: absolute;
    right: 1.3rem;
    bottom: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 20;
  
}

.btn-affix .btn-affix-content {
   align-items: center;
    display: flex;
    justify-content: center;
}

#wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#header {
    height: 30%;
    width: 100%;
    background: rgba(22, 22, 22, 0.2);
    display: flex;
    align-items: flex-end;
}

#header #header-content {
    width: 100%;
    margin-bottom: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: .8rem;
    color: var(--color-white);
}

#content {
    /* height: 70%; */
    padding-top: 1rem;
    padding: 1.2rem 1rem;

}