<ng-template #confirmDeleteContent>
    <p class="d-flex align-items-center"> <svg t="1581763380993"
             class="icon"
             viewBox="0 0 1024 1024"
             version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             p-id="2870"
             width="32"
             height="32">
            <path d="M552.069565 28.93913l463.026087 923.826087c11.130435 22.26087 2.226087 48.973913-20.034782 60.104348-6.678261 2.226087-13.356522 4.452174-20.034783 4.452174H51.2c-24.486957 0-44.521739-20.034783-44.521739-44.521739 0-6.678261 2.226087-13.356522 4.452174-20.034783L474.156522 28.93913C485.286957 6.678261 512-2.226087 534.26087 8.904348c6.678261 4.452174 13.356522 13.356522 17.808695 20.034782zM467.478261 351.721739v356.173913h89.043478v-356.173913h-89.043478z m44.521739 534.26087c37.843478 0 66.782609-28.93913 66.782609-66.782609s-28.93913-66.782609-66.782609-66.782609-66.782609 28.93913-66.782609 66.782609c0 35.617391 28.93913 66.782609 66.782609 66.782609z"
                  fill="#FFCD00"
                  p-id="2871"></path>
        </svg> <span class="ml-3" >确定要删除吗? 删除后数据将无法恢复!</span> </p>
</ng-template>

<!-- 新建情侣时光按钮 -->
<nz-affix routerLink="./add"
          class="btn-affix">
    <div class="btn-affix-content">
        <svg t="1581654388390"
             class="icon"
             viewBox="0 0 1024 1024"
             version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             p-id="1950"
             width="32"
             height="32">
            <path d="M1024 427.84 596.224 427.84 596.224 0 427.84 0 427.84 427.84 0 427.84 0 596.224 427.84 596.224 427.84 1024 596.224 1024 596.224 596.224 1024 596.224Z"
                  p-id="1951"
                  fill="#e6e6e6"></path>
        </svg>
    </div>
</nz-affix>

<div id="wrapper">
    <div id="top-nav">
        <ng-template #backIcon>
            <svg t="1581656190833"
                 class="icon"
                 viewBox="0 0 1024 1024"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 p-id="2733"
                 width="24"
                 height="24">
                <path d="M178 544l356 329-44 46L49 512l441-407 44 46-356 329h782v64H178z"
                      p-id="2734"
                      fill="#e6e6e6"></path>
            </svg>
        </ng-template>
        <nz-page-header [nzBackIcon]="backIcon"
                        class="page-header text-light  text-center"
                        [nzGhost]="true">
            <nz-page-header-title class="d-flex m-auto align-items-center text-white">时光记录</nz-page-header-title>
        </nz-page-header>
    </div>
    <div id="header">
        <div id="header-content">
            <app-lover-profile-image></app-lover-profile-image>
            <span class="text-bolder">我们在一起 <br /> 
                <span class="font-weight-bolder text-large"> {{ totalLoveDay }} </span> 天 </span>
        </div>
    </div>

    <div id="content">
        <div>
            <ng-template #pending>
                <div *ngIf="paginationData.hasNext">
                    <button class="btn p-0"
                            (click)="getLoverLog()">加载更多</button>
                </div>
            </ng-template>
            <nz-timeline [nzPending]="paginationData.hasNext?pending:null"
                         [nzPendingDot]="iconPending">
                <ng-template #iconBoy>
                    <svg t="1581685658952"
                         class="icon"
                         viewBox="0 0 1077 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         p-id="2508"
                         width="10"
                         height="10">
                        <path d="M781.474 0c-93.777 0-183.781 43.655-242.527 112.64C480.202 43.655 390.197 0 296.421 0 130.425 0 0 130.425 0 296.421 0 500.143 183.242 666.14 460.8 918.366l78.147 70.602 78.148-71.14c277.558-251.69 460.8-417.685 460.8-621.407C1077.895 130.425 947.469 0 781.474 0z"
                              fill="#1296db"
                              p-id="2509"></path>
                    </svg>
                </ng-template>
                <ng-template #iconGirl>
                    <svg t="1581685658952"
                         class="icon"
                         viewBox="0 0 1077 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         p-id="2508"
                         width="10"
                         height="10">
                        <path d="M781.474 0c-93.777 0-183.781 43.655-242.527 112.64C480.202 43.655 390.197 0 296.421 0 130.425 0 0 130.425 0 296.421 0 500.143 183.242 666.14 460.8 918.366l78.147 70.602 78.148-71.14c277.558-251.69 460.8-417.685 460.8-621.407C1077.895 130.425 947.469 0 781.474 0z"
                              fill="#FF647F"
                              p-id="2509"></path>
                    </svg>
                </ng-template>
                <ng-template #iconLover>
                    <svg t="1581685658952"
                         class="icon"
                         viewBox="0 0 1077 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         p-id="2508"
                         width="10"
                         height="10">
                        <path d="M781.474 0c-93.777 0-183.781 43.655-242.527 112.64C480.202 43.655 390.197 0 296.421 0 130.425 0 0 130.425 0 296.421 0 500.143 183.242 666.14 460.8 918.366l78.147 70.602 78.148-71.14c277.558-251.69 460.8-417.685 460.8-621.407C1077.895 130.425 947.469 0 781.474 0z"
                              fill="#F472D0"
                              p-id="2509"></path>
                    </svg>
                </ng-template>
                <ng-template #iconPending>
                    <svg t="1581687853951"
                         class="icon"
                         viewBox="0 0 1024 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         p-id="2979"
                         width="12"
                         height="12">
                        <path d="M960.71414 512.524956c0 247.661589-200.771653 448.432219-448.434266 448.432219-247.661589 0-448.431196-200.769606-448.431196-448.432219C63.849702 264.86132 264.618285 64.092737 512.279874 64.092737 759.942487 64.092737 960.71414 264.86132 960.71414 512.524956zM512.524444 439.177438c0 0-11.652388-120.903627-131.015939-120.750131 0 0-164.240645 1.534959-128.424928 208.242811 29.67588 135.076418 258.417561 240.98861 258.417561 240.98861s147.835-70.096475 210.256678-148.379399c62.421678-78.283947 57.283658-173.450401 43.490513-215.405955-37.862329-93.120864-130.47154-85.446068-130.47154-85.446068S522.019703 320.985572 512.524444 439.177438z"
                              p-id="2980"
                              fill="#F472D0"></path>
                    </svg>
                </ng-template>
                <nz-timeline-item *ngFor="let log of loverLogs"
                                  [nzDot]="getTimeLineIcon(log)">

                    <div class="px-2 rounded py-1"
                         [class.bg-light-gray]="!log.loverPhotos || log.loverPhotos.length === 0">
                        <div>
                            {{log.content}}
                        </div>
                        <div class="d-flex w-100 flex-row flex-wrap justify-cotent-between">
                            <div class="overflow-hidden mr-2 mt-2"
                                 style="width: 102px; height: 102px;"
                                 *ngFor="let img of log.loverPhotos">
                                <img *ngIf="img && img.url"
                                     class="rounded img-clipable"
                                     (click)="previewImage([img])"
                                     [src]="img && img.url ? (img.url|authenticationImageUrl|async): ''"
                                     alt="说说图片">
                            </div>
                        </div>

                    </div>
                    <div class="px-2 d-flex w-100 mt-1 flex-row justify-content-between">
                        <div class="d-flex align-items-center">
                            <a class="">
                                <span>评论</span>
                            </a>
                            <a class="ml-2 d-flex "
                               (click)="showConfimDeleteModal(log)">
                                <span *ngIf="log.status !== 'deleting'">删除</span>
                                <ng-template #indicatorTemplate><i nz-icon
                                       nzType="loading"
                                       style="font-size: 16px; color: var(--color-accent-base);"></i> </ng-template>
                                <nz-spin *ngIf="log.status === 'deleting'"
                                         class="ml-2"
                                         nzSimple
                                         [nzIndicator]="indicatorTemplate"></nz-spin>
                            </a>
                        </div>
                        <div>
                            {{ log.createDateTime|date:'yyyy-MM-dd HH:mm:ss' }}
                        </div>
                    </div>
                </nz-timeline-item>
            </nz-timeline>

        </div>
    </div>
</div>