<div id="wrapper">
    <div class="h-100 d-flex justify-content-between overflow-hidden">
        <div id="title"
             class="py-1 h-100 d-flex align-items-center  overflow-hidden">
            <svg t="1581931790156"
                 class="icon ml-3"
                 viewBox="0 0 1024 1024"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 p-id="10575"
                 width="24"
                 height="24"
                 (click)="goBack()">
                <path d="M459.3 906.9c-8 0-15.6-3.1-21.3-8.8L72.3 532.4c-6.8-6.8-9.8-16.2-8.4-25.8v-0.1c1-7.2 4.7-13.9 10.3-18.7l0.6-0.5 362.6-362.6c5.3-4.3 12.1-6.8 19.1-6.8 8.9 0 17.3 3.9 23 10.6 9.6 11.2 9.7 27.5 0.4 38.9L166.7 480.6h763.2c16.7 0 30.3 13.6 30.3 30.3 0 16.7-13.6 30.3-30.3 30.3H166.7l313.9 313.9c5.7 5.7 8.9 13.3 8.9 21.5 0 8.1-3.1 15.7-8.8 21.5-5.7 5.7-13.2 8.9-21.3 8.9l-0.1-0.1z"
                      fill="#ffffff"
                      p-id="10576"></path>
            </svg>
            <h4 class="my-0 ml-1 text-light bg-dar text-nowrap text-truncate ">{{ title }}</h4>
        </div>
        <div class="mr-3 d-flex align-items-center">
            <ng-container #extraContainer></ng-container>
        </div>
    </div>
</div>